taming-transformers/data
taming-transformers/assets
profiling
output
results
.git
.mypy_cache
__pycache__
**/*gz
**/*ckpt
**/*png
**/*jpg
**/*png
**/*jpeg
**/*mp4
**/*mov
**/*pth
**/runs
**/wandb
**/*ipynb
!**/reaction_predictor.pth
