[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
einops = "*"
ftfy = "*"
imageio = "*"
imageio-ffmpeg = "*"
kornia = "*"
omegaconf = "*"
pytorch-lightning = "*"
redis = "*"
regex = "*"
requests = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
TwitterAPI = "*"
numpy = "*"
opencv-python = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[packages.psycopg]
extras = [ "pool", "binary",]

[packages.b762515]
file = "https://download.pytorch.org/whl/cu113/torch-1.10.1%2Bcu113-cp39-cp39-linux_x86_64.whl"
